@charset 'utf-8';
 html{
    font-weight: 'Noto Sans KR', sans-serif;
    font-size: 14px;
 }
 body{
    overflow-x: hidden;
    color: rgb(29, 29, 31);
    letter-spacing: -0.05em;
    background-color: white;
 }
 p{
    line-height: 1.6;
 }
 a{
    color: rgb(29, 29, 31);
    text-decoration: none;/*밑줄빼기*/
 }

.global-nav{
    /*position:absolute 일때는 width:100%를 줘야 넓어짐*/
    /*브라우저에 스크롤에 메뉴가 포함되기 때문에 position 효과줌*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 44px;
    padding: 0 1rem;
   

}
.local-nav{
    /*position:absolute 일때는 width:100%를 줘야 넓어짐*/
    /*브라우저에 스크롤에 메뉴가 포함되기 때문에 position 효과줌
    둘이 겹치지 않기 위해 top 45px*/
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height:52px ;
    border-bottom:1px solid #ddd ;
    padding: 0 1rem;
}
.global-nav-links,
.local-nav-links{
    display: flex;
    align-items: center;
    max-width: 1000px;
    height: 100%;/*이건 자식요소이기 때문에 부모요소만큼 줌*/
    margin: 0 auto; 
}
.global-nav-links{
    justify-content:space-between ;
}
.local-nav-links .product-name{
    /*우선순위를 줄때 .이름(여백).이름*/
    margin-right: auto;/*margin:auto를 주면 오른쪽 여백을 다 써 버림*/
    font-size: 1.4rem; 
    font-weight: bold;
}
.local-nav-links a{
    font-size: 0.8rem;
}
.local-nav-links a:not(.product-name){
     /*a~c:not(a) a를 제외한 bc 에만 효과를 줌*/
    margin-left: 2em;
}
.scroll-section{
   
    padding-top:50vh;/*브라우저창의 높이 절반 50 만큼*/
}
#scroll-section-0 h1{
font-size: 4rem;
text-align: center;
}
.main-message{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 35vh;
    margin: 5px 0 ;
    height:3em;
    font-size: 2.5rem;
    opacity:0 ;
    
}
.main-message p{
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
}
.main-message small{
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.2rem;
}
.scroll-section-2 .main-message{
    font-size: 3.5rem;
}
.description{
    max-width: 1000px;
    margin: 0 auto;
    padding:0 1rem;
    font-size: 1.2rem;
    color: #888;
}
.description strong{
    float: left;/*글씨를 감싸서 올라가는 형태*/
    margin-right:0.2em ;
    font-size: 3rem;
    color: rgb(29, 29, 31);
}
.desc-message {
    width: 50%;
    font-weight: bold;
    
}
.pin{
    width: 1px;
    height: 100px;
    background:rgb(29, 29, 31);
}

.mid-message{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
    font-size: 2rem;
    color:#888 ;

}
.mid-message strong{
    color:rgb(29, 29, 31);
}
.canvas-caption{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
    color:#888 ;
    font-size: 1.2rem;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    background:darkorange;
    color: white;
}
.sticky-elem{
    /*스크롤 구간이 맞을 때만 보이기 위해서 display:none;*/
    display: none;/*바디에 해당되는 씬이 나올 때만 보여짐*/
    position: fixed;
    left: 0;
    width: 100%;
}

/*body에 붙이는 id */
#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
    display: block;
}


/* 창 크기가 1024px 이상인 브라우저용 */
 @media (min-width: 1024px){
    #scroll-section-0 h1{
        font-size: 9vw; 
    }

    .main-message {
        font-size:4vw ;
    } 
    .description{
        font-size: 2rem;
    }
    .description strong{
        font-size: 6rem;
    }
    #scroll-section-2 .main-message{
        font-size: 6vw;
    }
    .main-message small{
        font-size: 1.5vw;
    }
    .desc-message{
        width: 20%;
    }
    .mid-message{
        font-size:4vw ;
    }
    .canvas-caption{
       font-size: 2rem; 
    }
 }


/* 현재 html 14px로 지정함:
폰트 사이즈-rem, 다른 사이즈는 -em 
why? 현재 내 폰트사이즈의 비율을 활용할 수 있음
e.g height: 3em, font-size: 2.5rem 이라면 
height 는 2.5rem 의 3배 */

/* vw? or rem? 의도를 이해하기:
rem 은 고정값 상대단위이긴하지만 html의 배
그리고 vw 창크기의 몇 퍼센트인지
=> 애플 웹사이트를 보면 메인 타이틀은 창크기에 따라 달라지기 때문에 -> VW  그러나 그 타이틀의 본문내용을 그렇게 영향을 받지 않기 때문에 고정값을 주거나 px 이나 rem 으로 줌*/